body {
  margin: margin 0px;
  backropund-color: background #fffff; }

.clear {
  clear: both; }

h1, h2, .dreier h1 {
  font-family: 'Lane', 'sans-serif', 'Serif'; }

.dreier h1 {
  font-size: 4.0 rem; }

.dreier h3 {
  color: #00f; }

.clear {
  clear: both; }

.wrapper {
  margin: 0px; }
  .wrapper .header {
    position: fixed;
    background-color: #ccc;
    height: auto;
    padding-bottom: 60px;
    margin-left: -3px;
    max-width: 986px; }
    .wrapper .header__higtline {
      text-align: center;
      margin: 0px auto; }
    .wrapper .header__subline {
      width: 100%; }
    .wrapper .header h2 {
      text-align: center;
      font-size: 16px;
      padding-bottom: 10px; }

h1 .zweier {
  width: 100%;
  padding-bottom: 40px;
  display: block; }
  h1 .zweier__boxLinks {
    float: left;
    width: 50%; }
  h1 .zweier__boxRechts {
    float: right;
    width: 45%;
    margin-top: -230px; }
  h1 .zweier__boxRechts-bild {
    float: right;
    width: 100%; }
  h1 .zweier__boxRechts-bild img {
    float: left;
    width: 100%;
    margin-left: 0px;
    display: block; }

h1 .dreier {
  padding-top: 120px;
  width: 100%;
  display: block; }
  h1 .dreier h1 {
    text-align: center; }
  h1 .dreier__boxLinks {
    margin-top: 20px;
    width: 30%;
    float: left; }
    h1 .dreier__boxLinks-block {
      padding-bottom: 100px; }
    h1 .dreier__boxLinks p {
      text-align: right; }
  h1 .dreier__boxMitte {
    margin-top: 20px;
    float: left;
    width: 30%; }
  h1 .dreier__boxMitte img {
    width: 100%;
    float: left;
    padding-left: 50px; }
  h1 .dreier__boxRechts {
    margin-top: 20px;
    width: 30%;
    float: right; }
    h1 .dreier__boxRechts-block {
      padding-bottom: 100px; }

h1 .einer {
  padding-top: 20px; }
  h1 .einer__bild img {
    width: 100%; }

h1 .footer__container {
  max-width: 1030px; }

* {
  margin: 0;
  padding: 0; }

*p {
  font-size: 12px; }

.wrapper {
  margin: 0px auto;
  padding: 2px 2px 2px 2px; }
  .wrapper .header {
    width: 100%;
    position: fixed;
    background-color: #ccc;
    height: auto;
    padding-bottom: 20px;
    margin-left: -3px; }
    .wrapper .header__container {
      margin: 0px auto; }
    .wrapper .header__higtline {
      width: 100%;
      text-align: center;
      margin: 0px auto; }
    .wrapper .header__subline {
      width: 100%; }
    .wrapper .header h2 {
      text-align: center;
      font-size: 16px;
      padding-bottom: 10px; }

h1 {
  font-size: 16px;
  text-align: center; }

h2 {
  text-align: center;
  font-size: 16px; }

.zweier {
  width: 100%;
  padding-top: 80px; }
  .zweier h1 {
    font-size: 14px; }
  .zweier__boxLinks {
    float: left;
    width: 35%;
    padding-top: 5px; }
  .zweier__boxRechts {
    float: right;
    width: 40%;
    margin-top: -130px; }
  .zweier__boxRechts-bild {
    float: right;
    width: 100%; }
  .zweier__boxRechts-bild img {
    float: right;
    width: 100%; }

.dreier {
  width: 100%;
  display: block; }
  .dreier h1 {
    text-align: center;
    padding: 10px; }
  .dreier h3 {
    margin: 0px auto;
    font-size: 16px; }
  .dreier__boxLinks {
    float: left;
    margin-bottom: 20px; }
    .dreier__boxLinks-block {
      float: left;
      margin-bottom: 20px; }
  .dreier__boxMitte {
    float: left; }
  .dreier__boxMitte img {
    width: 75%;
    float: left;
    padding-bottom: 20px; }
  .dreier__boxRechts {
    float: left; }
    .dreier__boxRechts-block {
      float: left; }
    .dreier__boxRechts p {
      text-align: left; }

.einer__bild img {
  width: 75%; }

.footer {
  width: 100%;
  background: #ccc;
  margin: 0px auto;
  font-size: 12px; }
  .footer__col1 {
    paddin-buttom: 10px; }
  .footer__col2 p {
    padding: 5px; }
  .footer__col3 p {
    padding: 5px; }

body {
  margin: margin 0px;
  backropund-color: background #fffff; }

.clear {
  clear: both; }

h1, h2, .dreier h1 {
  font-family: 'Lane', 'sans-serif', 'Serif'; }

.dreier h1 {
  font-size: 4.0 rem; }

.dreier h3 {
  color: #00f; }

@media only screen and (min-width: 960px) {
  .clear {
    clear: both; }
  .wrapper {
    margin: 0px; }
    .wrapper .header {
      position: fixed;
      background-color: #ccc;
      height: auto;
      padding-bottom: 60px;
      margin-left: -3px;
      max-width: 986px; }
      .wrapper .header__higtline {
        text-align: center;
        margin: 0px auto; }
      .wrapper .header__subline {
        width: 100%; }
      .wrapper .header h2 {
        text-align: center;
        font-size: 16px;
        padding-bottom: 10px; }
  h1 .zweier {
    width: 100%;
    padding-bottom: 40px;
    display: block; }
    h1 .zweier__boxLinks {
      float: left;
      width: 50%; }
    h1 .zweier__boxRechts {
      float: right;
      width: 45%;
      margin-top: -230px; }
    h1 .zweier__boxRechts-bild {
      float: right;
      width: 100%; }
    h1 .zweier__boxRechts-bild img {
      float: left;
      width: 100%;
      margin-left: 0px;
      display: block; }
  h1 .dreier {
    padding-top: 120px;
    width: 100%;
    display: block; }
    h1 .dreier h1 {
      text-align: center; }
    h1 .dreier__boxLinks {
      margin-top: 20px;
      width: 30%;
      float: left; }
      h1 .dreier__boxLinks-block {
        padding-bottom: 100px; }
      h1 .dreier__boxLinks p {
        text-align: right; }
    h1 .dreier__boxMitte {
      margin-top: 20px;
      float: left;
      width: 30%; }
    h1 .dreier__boxMitte img {
      width: 100%;
      float: left;
      padding-left: 50px; }
    h1 .dreier__boxRechts {
      margin-top: 20px;
      width: 30%;
      float: right; }
      h1 .dreier__boxRechts-block {
        padding-bottom: 100px; }
  h1 .einer {
    padding-top: 20px; }
    h1 .einer__bild img {
      width: 100%; }
  h1 .footer__container {
    max-width: 1030px; } }

@media only screen and (min-width: 768px) {
  .clear {
    clear: both; }
  .header {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #ccc; }
    .header__higtline {
      width: 100%; }
      .header__higtline h2 {
        text-align: center; }
    .header h1 {
      text-align: center; }
    .header__subline {
      width: 100%; }
  .wrapper {
    margin: 0px;
    padding: 20px; }
  .zweier {
    width: 100%;
    padding-bottom: 20px;
    display: block; }
    .zweier__boxLinks {
      float: left;
      width: 50%; }
    .zweier__boxRechts {
      float: right;
      width: 45%; }
    .zweier__boxRechts-bild {
      float: right;
      width: 100%; }
    .zweier__boxRechts-bild img {
      float: left;
      width: 100%;
      margin-left: 0px;
      display: block; }
  .dreier {
    padding-top: 20px;
    width: 100%;
    display: block; }
    .dreier__boxLinks {
      margin-top: 20px;
      width: 30%;
      float: left; }
      .dreier__boxLinks-block {
        padding-bottom: 100px; }
    .dreier__boxMitte {
      margin-top: 20px;
      float: left;
      width: 30%; }
    .dreier__boxMitte img {
      width: 100%;
      float: left; }
    .dreier__boxRechts {
      margin-top: 20px;
      width: 30%;
      float: right; }
      .dreier__boxRechts-block {
        padding-bottom: 100px; }
  .einer {
    padding-top: 20px; }
    .einer__bild img {
      width: 100%; } }
