

//wrapper
$wrapper : '.wrapper';
#{$wrapper}{

	margin:0px;
	//padding:20px;
	
	h1{

		//margin-top:220px;
		color:#00f;

	}

	h1{
		 
		 @extend %font;
		 @extend %font-headline;
		 @extend %textAlign;
		 text-align:center;
	}

	h2{
   		
        @extend %font;
        @extend %font-subline;
        @extend %textAlign;
	}
}


$footer: '.footer';
#{$footer}{
	//display:none;
	//visibility: hidden;

}


