
$clear :'.clear';
#{$clear}{
	
	clear:both;
}

$header :'.header';
#{$header}{
width: 100%;
height: auto;
position:fixed;
background-color:#ccc;

		&__higtline{
		width: 100%;
		


			 h2{
          text-align:center;
          //@include headline;
        		}


	}

		        h1{
		     	text-align:center;
		          //@include headline;
		     	}


				&__subline{
				width: 100%;
				
		        
		        
			}

}




//wrapper
$wrapper : '.wrapper';
#{$wrapper}{

	margin:0px;
	padding:20px;
	
	h1 {

		//margin-top: 120px;

	}
}


// zweier divs erste container

$zweier : '.zweier';
#{$zweier}{
	width:100%;
	padding-bottom:20px;
	display:block;
	//padding-top:220px;


&__boxLinks{
	float:left;
	width: 50%;

}


&__boxRechts{

	float:right;
	width:45%;
    //margin-top:-380px;
}

&__boxRechts-bild{
    float:right;
	width:100%;


}

 &__boxRechts-bild img{
  float:left;
   width:100%;
   margin-left:0px;
   display:block;
 }

}

// dreier divs zweiter container

$dreier : '.dreier';

#{$dreier}{
	
	padding-top:20px;
	width:100%;
	display:block;




&__boxLinks{
	margin-top:20px;
	width:30%;
	float:left;

&-block{
	
	padding-bottom:100px;
	
    }

}



&__boxMitte{
	margin-top:20px;
	float:left;
	width: 30%;

	
}

&__boxMitte img{
	
	width: 100%;
	float:left;
	//padding-left:50px;
	

}

&__boxRechts{
	margin-top:20px;
	width:30%;
	float:right;


&-block{
	
	padding-bottom:100px;
	
 
}

}

	}

$einer :'.einer' ;
#{$einer}{
padding-top:20px;

&__bild{


	img{
     width:100%;

		}
	}	

}


 


