


$clear :'.clear';
#{$clear}{
	
	clear:both;
}





//wrapper
$wrapper : '.wrapper';
#{$wrapper}{

	margin:0px;
	
	
	



///header


$header :'.header';
#{$header}{
position:fixed;
background-color:#ccc;
height:auto;
padding-bottom:60px;
margin-left:-3px;
max-width:986px;

	&__container{
		//max-width:1030px;
		//margin-left:-40px;
		
	}		

		&__higtline{
		
		text-align:center;
		margin:0px auto;
	
			 h2{
        
          //@include headline;
        		}


	}


				&__subline{
					width: 100%;
		        
			}
				h2{

					text-align:center;
					font-size:16px;
					padding-bottom:10px;
				}

}

//ende 

}

	h1{
		 
		


//ende header

// zweier divs erste container

$zweier : '.zweier';
#{$zweier}{
	width:100%;
	padding-bottom:40px;
	display:block;



&__boxLinks{
	float:left;
	width: 50%;

}


&__boxRechts{

	float:right;
	width:45%;
    margin-top:-230px;
    
}

	&__boxRechts-bild{
	    float:right;
		width:100%;


	}

		 &__boxRechts-bild img{
		  float:left;
		   width:100%;
		   margin-left:0px;
		   display:block;
		 }
}

// dreier divs zweiter container

$dreier : '.dreier';

#{$dreier}{
	
	padding-top:120px;
	width:100%;
	display:block;


	h1 {
		 //@extend %font;
		 //@extend %font-headline;
		 text-align:center;

	}

&__boxLinks{
	margin-top:20px;
	width:30%;
	float:left;

	&-block{
		
		padding-bottom:100px;
		
	    }


		p  {
			
			text-align:right;

		  }
  
}



&__boxMitte{
	margin-top:20px;
	float:left;
	width: 30%;

	
}

	&__boxMitte img{
		
		width: 100%;
		float:left;
		padding-left:50px;
		

	}

&__boxRechts{
	margin-top:20px;
	width:30%;
	float:right;


	&-block{
		
		padding-bottom:100px;	 
	   }

   }
}

$einer :'.einer' ;
#{$einer}{

padding-top:20px;

&__bild{


	img{
     width:100%;

		}
	}	

}


//footer 3 colum
$footer : '.footer';

#{$footer}{

	&__container{
		max-width: 1030px;
	}
}

 }


