
 $margin : margin 0px !default;
 $padding : padding 0px !default;	
 $color : background #fffff !default;
 $font : font-family 'Lane', sans-serif, Serif !default;
 $fontSize : font-size 21px !default;
 $cleaner: clear both !default;
