
$clear :'.clear';
#{$clear}{
	
	clear:both;
}

h1{
		 font-size:1.0rem;
		 text-align:center;	
}

h2{
   		font-size: 1.75rem;
    	line-height: 1.688rem;
    	text-align:center;

	}
h3 {
		font-size:1.0em;
	}


//wrapper
$wrapper : '.wrapper';
#{$wrapper}{
	margin: 0px;
	//padding: 120px;




$header : '.header';
#{$header}{
	width: 94%;
	background-color:#ccc;
	position:fixed;
	display: block;
	margin-top:-100px;


	}
}

	h1{
		 //@extend.h1;	
	}

	h2{
   		//@extend.h2;

	}


// zweier divs erste container

$zweier : '.zweier';
#{$zweier}{
	width:100%;
	display:block;
	margin-top: 120px;


&__boxLinks{

}


&__boxRechts{

	width:45%;
  
}

&__boxRechts-bild{
    
	width:100%;
	
}

 &__boxRechts-bild img{
   width:100%;
   
 }

}

// dreier divs zweiter container

$dreier : '.dreier';

#{$dreier}{

	width:100%;
	display:block;


	h3{
		//@extend .h3;

	}


&__boxLinks{

	float:left;


&-block{	
	float:left;
    }

}

&__boxMitte{

	float:left;
	
}

&__boxMitte img{
	
	width: 100%;
	float:left;

	

}

&__boxRechts{
	
	float:left;


&-block{
	
	float:left;
 
    }
}

	}

$einer :'.einer' ;
#{$einer}{



&__bild{


	img{
     width:100%;

		}
	}	

}
$footer: '.footer';
#{$footer}{

	width: 100%;
	background-color:#ccc;
	font-size:22px;
	border-top: 1px solid #999;
	height: auto;

		&__col1{
			
			background-color:#ccc;
			
			p{
				font-size:7px;
				padding-left: 10px;
				}	
		}

		&__col2{
			
			background-color:#ccc;
			
			p{
				font-size:7px;
				padding-left:7px;
				}
		}
		&__col3{
			
			background-color: #ccc;
			p{
				font-size:7px;
				padding-left:7px;
				}
			
		}
	



	}




