
$clear :'.clear';
#{$clear}{
	
	clear:both;
}

.h1_base{
		 font-size:1.0rem;
		 text-align:center;	
}

.h2_base{
   		font-size: 1.75rem;
    	line-height: 1.688rem;
    	text-align:center;

	}
	
.h3_base {
		font-size:1.0em;
	}


//wrapper
$wrapper : '.wrapper';
#{$wrapper}{
	margin: 0px;



$header : '.header';
#{$header}{
	width: 98%;
	background-color:#ccc;
	margin-top:-250px;


	&__container{
	width:98%;
	position:fixed;
	display:block;
	margin-top:-200px;
	background-color:#ccc;
	

		&__higtline{padding:10px;}
		&__subline{padding-bottom:50px;}
	}

	}	
	
}

	h1{
		 @extend.h1_base;	
	}

	h2{
   		@extend.h2_base;

	}


// zweier divs erste container

$zweier : '.zweier';
#{$zweier}{
	width:100%;
	display:block;
	margin-top: 400px;


&__boxLinks{

}


&__boxRechts{

	width:45%;
  
}

&__boxRechts-bild{
    
	width:100%;
	
}

 &__boxRechts-bild img{
   width:100%;
   
 }

}

// dreier divs zweiter container

$dreier : '.dreier';

#{$dreier}{

	width:100%;
	display:block;


	h3{
		@extend .h3_base;

	}


&__boxLinks{

	float:left;


&-block{	
	float:left;
    }

}

&__boxMitte{

	float:left;
	
}

&__boxMitte img{
	
	width: 100%;
	float:left;

	

}

&__boxRechts{
	
	float:left;


&-block{
	
	float:left;
 
    }
}

	}

$einer :'.einer' ;
#{$einer}{



&__bild{


	img{
     width:100%;

		}
	}	

}


$footer: '.footer';
#{$footer}{

	width: 100%;
	background-color:#ccc;
	font-size:22px;
	height: auto;



	p{
		font-size:12px;
		padding-left: 10px;
		}


		&__col1{
			
			background-color:#ccc;
			
				
		}

		&__col2{
			
			background-color:#ccc;
			
		}

		&__col3{
			
			background-color: #ccc;
			
			
		}
	



	}




