@import '_variables';
@import '_helper';
@import '_mixin';

*{
	margin: 0;
	padding: 0;
}

$clear :'.clear';
#{$clear}{
	@extend %clear;
}

p{
	
	@extend %font;
	@extend %font-size;
}

//wrapper
$wrapper : '.wrapper';
#{$wrapper}{

	margin:0px;
	padding:20px;
	@include padding(2px, 2px, 2px, 2px);	// code climete -> valid
	@extend %margin-10;
}

	h1{
		 
		 @extend %font;
		 @extend %font-headline;
		 @extend %textAlign;
	}

	h2{
   		
        @extend %font;
        @extend %font-subline;
	}


// zweier divs erste container

$zweier : '.zweier';
#{$zweier}{
	width:100%;
	display:block;


&__boxLinks{

}


&__boxRechts{

	width:45%;
  
}

&__boxRechts-bild{
    
	width:100%;
	
}

 &__boxRechts-bild img{
   width:100%;
   
 }

}

// dreier divs zweiter container

$dreier : '.dreier';

#{$dreier}{

	width:100%;
	display:block;

p{
	
	@axtend: %textAlign;
}

	h3{
		font-size:1.8em;
		@extend %fontcolor;

	}


&__boxLinks{

	float:left;


&-block{	
	float:left;
    }

}

&__boxMitte{

	float:left;
	
}

&__boxMitte img{
	
	width: 100%;
	float:left;

	

}

&__boxRechts{
	
	float:left;


	&-block{
		
		float:left;
	 
    }
}

	}

$einer :'.einer' ;
#{$einer}{



&__bild{


	img{
     width:100%;

		}
	}	

}

